/**
 * Component: Now Playing.
 * -----------------------------------------------------------------------------
 * Styles for the 'Now Playing' screen.
 *
 */
.now-playing {
  background-color: black;
  color: var(--color-text-primary);
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-l);
  width: 150%;
  height: 100%;

  &__cover,
  &__details {
    padding: var(--spacing-m);
    text-align: center;
    width: 100%;
  }

  &__cover {
    max-width: 100%; /* Set to 60% of the width of the parent */
  }

  &__image {
   
    height: auto;
    width: auto;
  }

  &__details {
    text-align: center;
    font-size: 1.7em; /* Increase the font size as desired */
  }

  &__track {
    font-weight: var(--font-weight-heading);
  }

  &__artists {
    opacity: 0.85;
  }

  &--active {
    align-items: center;
    justify-content: center;
  }

  &--idle {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

